CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles
bin/lit
lit.zip
src/lit.cpp
lit-2.zip
li_target.cpp.o.d
li_target.cpp.o
lit-3.zip

compiler_depend.make
resource/source/li.pb.cc
resource/source/li.pb.h
include/li.pb.h
src/li.pb.cc
.ninja_deps
.gitignore
.gitignore
core
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/toolchains-v1-f8eaf7f9e5670d5d73ca.json
build/.cmake/api/v1/reply/cache-v2-4932c4b4a0171f239dc8.json
.gitignore
.gitignore
.gitignore
.gitignore
build/.cmake/api/v1/reply/cmakeFiles-v1-56c6363ef97347089e6e.json
.gitignore
.vscode/settings.json
.ninja_log
.gitignore
build.ninja
.vscode/settings.json
build/.cmake/api/v1/reply/codemodel-v2-5f8a252f09056af420df.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-server-Debug-244843e92778ba082abc.json
build/.cmake/api/v1/reply/target-liserver-Debug-ddea6bc68060608d5d83.json
build/.cmake/api/v1/reply/index-2022-09-29T15-22-33-0423.json
.vscode/settings.json
