CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles
bin/lit
lit.zip
src/lit.cpp
lit-2.zip
li_target.cpp.o.d
li_target.cpp.o
lit-3.zip

compiler_depend.make
resource/source/li.pb.cc
resource/source/li.pb.h
include/li.pb.h
src/li.pb.cc
.ninja_deps
.gitignore
.gitignore
core
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/toolchains-v1-f8eaf7f9e5670d5d73ca.json
build/.cmake/api/v1/reply/cache-v2-4932c4b4a0171f239dc8.json
.gitignore
.gitignore
.gitignore
.gitignore
build/.cmake/api/v1/reply/cmakeFiles-v1-56c6363ef97347089e6e.json
.gitignore
.vscode/settings.json
.ninja_log
.gitignore
build.ninja
.vscode/settings.json
build/.cmake/api/v1/reply/codemodel-v2-5f8a252f09056af420df.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-server-Debug-244843e92778ba082abc.json
build/.cmake/api/v1/reply/target-liserver-Debug-ddea6bc68060608d5d83.json
build/.cmake/api/v1/reply/index-2022-09-29T15-22-33-0423.json
.vscode/settings.json
build/.cmake/api/v1/reply/cache-v2-de428010fe086b8c615b.json
build/.cmake/api/v1/reply/cmakeFiles-v1-b24f71b004e062a3cc12.json
build/.cmake/api/v1/reply/codemodel-v2-d1d272d47c1050120e8b.json
build/.cmake/api/v1/reply/directory-client-Debug-eda4c8a4dacec2844350.json
build/.cmake/api/v1/reply/index-2022-09-30T17-55-29-0014.json
build/.cmake/api/v1/reply/target-liclient-Debug-6f0302f3f924edb6f8c4.json
build/.cmake/api/v1/reply/target-liserver-Debug-d518b479d9d37176240d.json
client/bin/liclient
client/include/li_client copy.h
server/bin/liserver
