CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles
bin/lit
lit.zip
src/lit.cpp
lit-2.zip
CMakeFiles/mnt/c/Projects/sgx/lit/bin/lit.dir/src/li_target.cpp.o.d
CMakeFiles/mnt/c/Projects/sgx/lit/bin/lit.dir/src/li_target.cpp.o
lit-3.zip
